<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
<body>
  <%- include("partials/nav.ejs") %>
  <!-- can be deleted, just seeing if custom css is available -->
  <h1 class="something-specific"><%=greeting%></h1>
  
</body>
</html>